{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div id="navbar">
            <h1>{{ market.name }} </h1>
        </div>  
        <div class="market_butons">
            <form action="{% url 'markets:market_like' market_id=market.id %}?next={{ action_redirect_url }}"
            method = "POST">
            {% csrf_token %}
            <button type="submit"
                {% if user in market.like_users.all %}
                    style="color: red;"
                {% endif %}>
                <!-- Post의 좋아요를 누른 사용자 수를 가져옴 -->
                Likes({{ market.like_users.count }})
            </button>
        <div class="post-images splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for image in market.marketimage_set.all %}
                        {% if image.photo %}
                            <li class="splide__slide">
                                <img src="{{ image.photo.url }}">
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="post-detail">
            <p>{{ market.content|linebreaksbr }}</p>
            <ul class="comments">
                <span>Comments({{ market.comment_set.count }})</span>
                {% for comment in market.comment_set.all %}
                    <li class="comment">{{ comment.content }}</li>
                {% empty %} <!-- post.comment_set.all 에 순회할 항목이 없는 경우 -->
                    <li class="comment-empty">아직 댓글이 없습니다</li>
                {% endfor %}
            </ul>
            <div class = "post-comment-create">
            <form method="POST" action="{% url 'markets:comment_add' %}?next={{ action_redirect_url }}" >
                {% csrf_token %}
                <input type = "hidden" name = "market" value = "{{ market.id }}">
                {{ comment_form.content }}
                <button type="submit" class="btn btn-primary">리뷰 작성</button>
            </form>
        </div>
    </body>
</html>