{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div id="navbar">
            <span>상호명</span>
        </div>  
        <div class="post-images splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for image in post.postimage_set.all %}
                        {% if image.photo %}
                            <li class="splide__slide">
                                <img src="{{ image.photo.url }}">
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="post-detail">
            <p>{{ post.content|linebreaksbr }}</p>
            <ul class="comments">
                {% for comment in post.comment_set.all %}
                    <li class="comment">{{ comment.content }}</li>
                {% empty %} <!-- post.comment_set.all 에 순회할 항목이 없는 경우 -->
                    <li class="comment-empty">아직 댓글이 없습니다</li>
                {% endfor %}
            </ul>
            <form method="POST">
                {% csrf_token %}
                <textarea name="comment"></textarea>
                <button type="submit" class="btn btn-primary">댓글 작성</button>
            </form>
        </div>
    </body>
</html>